.header {
  @extend %grid-col-3;
  height: rem($spacing--large);
  background-color: $color--yellow;
  padding: rem($spacing--small);
  box-shadow: 0 5px 9px -6px darken($color--dark-gray, 20%);

  @include d1-mq('large--keep') {
    height: auto;
  }

  &__favorites {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.search {
  display: flex;
  justify-content: stretch;

  @include d1-mq('large--keep') {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: rem($spacing--small);
  }

  &__top {
    flex: 0.93;
    display: flex;
    justify-content: stretch;
  }

  &__bottom {
    flex: 1;
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: rem($spacing--xtra-small);
  }

  &__icon {
    background-color: $color--white;
    padding: rem($spacing--xtra-small);
    border-radius: $border-radius--small 0 0 $border-radius--small;
  }

  &__input {
    width: 100%;
  }

  &__btn {
    flex: 1;
    border: none;
    background-color: $color--light-gray;
    border-radius: 0 $border-radius--small $border-radius--small 0;
    @include neu-button($color--light-gray);
  }
}

.drop-down {
  cursor: pointer;
  position: relative;
  background-color: $color--light-gray;
  border-radius: $border-radius--small;
  @include neu-button($color--light-gray);

  &__btn {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: rem($spacing--small);
  }

  &__icon {
    position: absolute;
    top: 35%;
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
    right: rem($spacing--small);
  }

  &__list {
    position: absolute;
    top: rem(50px);
    left: 0;
    width: 100%;
    transform-origin: top;
  }

  &__item {
    width: 100%;
    height: rem(44px);
    background-color: $color--light-gray;
    @include neu-button($color--light-gray);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    padding-left: rem($spacing--small);
  }
}
