/*-------------------------------*/
/* CLEARFIX */
/*-------------------------------*/

%clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

/*-------------------------------*/
/* CENTER CONTENT */
/*-------------------------------*/

%center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-------------------------------*/
/* EFFECTS */
/*-------------------------------*/

@mixin neu-button($color) {
  box-shadow: inset -6px -6px 10px darken($color, 8%),
    inset 6px 6px 10px lighten($color, 8%);
}

/*-------------------------------*/
/* GRIDS */
/*-------------------------------*/

%grid-col-3 {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: $spacing--small;

  @include d1-mq('large') {
    grid-template-columns: 1fr 1.5fr 1fr;
  }

  @include d1-mq('medium') {
    grid-template-columns: 1fr;
  }
}
