/*-------------------------------*/
/* FONTS */
/*-------------------------------*/
$font-url--google: 'https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Pacifico&display=swap';

$font-family--primary: 'Arimo', sans-serif;
$font-family--secondary: 'Pacifico', cursive;

$font-weight--regular: 400;
$font-weight--bold: 700;

$font-size--base: 16px;
$line-height--base: 24px;
$word-spacing--base: 3px;
$letter-spacing: 1.4px;

/*-------------------------------*/
/* BREAKPOINTS */
/*-------------------------------*/

$breakpoint--x-lg: 1140px;
$breakpoint--lg: 950px;
$breakpoint--md: 700px;
// $breakpoint--sm: 300px;

/*-------------------------------*/
/* COLORS */
/*-------------------------------*/

$color--white: #fff;
$color--black: rgb(44, 44, 44);
$color--yellow: #fec961;
$color--light-gray: #e7e5df;
$color--dark-gray: #c3c4c3;
$color--red: #f45b69;
$color--green: #39d8a9;
$color--purple: #ad7a99;
$color--dark-blue: #465c69;

/*-------------------------------*/
/* IMAGE PATH */
/*-------------------------------*/

$img-path: '../images';

/*-------------------------------*/
/* BORDER RADIUS */
/*-------------------------------*/

$border-radius--small: 4px;

/*-------------------------------*/
/* ANIMATE.CSS --SASS VERSION*/
/*-------------------------------*/ // requires e.g. .animated .fadeInDown

// $use-rollOut: true;
// $use-fadeInDown: true;
// $base-duration: 3s;

/*-------------------------------*/
/* SPACING */
/*-------------------------------*/

$spacing--xtra-small: 10px;
$spacing--small: 20px;
$spacing--medium: 50px;
$spacing--large: 80px;
// $spacing--cta-btn: 15px 25px;

/*-------------------------------*/
/* Z-INDEX */
/*-------------------------------*/

// $index--1: 1;
// .hero__img-phones
// .img__phones

// $index--2: 2;
// .mobile-nav-background

// $index--3: 3;
// .header
