.expand {
  animation: 0.2s ease-in-out forwards expand;
}

.collapse {
  animation: 0.2s ease-in-out forwards collapse;
}

.fadeUpIn {
  animation: 0.4s ease-in-out fadeUpIn;
}

.fadeDownOut {
  animation: 0.3s ease-in-out forwards fadeDownOut;
}

.rotateUp {
  transform: rotate(-180deg);
}

.rotateDown {
  transform: rotate(0deg);
}

/* @keyframes duration | timing-function | delay | 
iteration-count | direction | fill-mode | play-state | name */

@keyframes expand {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes collapse {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

@keyframes fadeUpIn {
  0% {
    transform: scaleY(1) translateY(10px);
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    transform: scaleY(1) translateY(0);
    opacity: 1;
  }
}

@keyframes fadeDownOut {
  0% {
    transform: scaleY(1) translateY(0);
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  40% {
    transform: scaleY(1) translateY(10px);
  }
  100% {
    opacity: 0;
  }
}
