.results {
  &__item {
    position: relative;
    display: flex;
    height: rem($spacing--medium);
    background-color: $color--white;
    transition: transform 0.2s ease-in-out;

    &::before {
      position: absolute;
      top: 0;
      left: rem(-10px);
      content: '';
      height: 100%;
      width: rem(10px);
      background-color: $color--yellow;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    &:hover {
      transform: translate(rem(10px), 0px);

      &::before {
        opacity: 1;
      }
    }
  }

  &__img {
    height: rem(30px);
    width: rem(30px);
    object-fit: cover;
    border-radius: 100px;
    margin: rem($spacing--xtra-small);
  }

  &__icon {
    margin-right: rem($spacing--xtra-small);
    display: flex;
    align-items: center;
  }

  &__name {
    display: flex;
    align-items: center;
    padding-left: rem($spacing--xtra-small);
    width: 100%;
  }
}

.pagination {
  height: rem($spacing--medium);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem($spacing--xtra-small);

  &__triangle-left:hover,
  &__triangle-right:hover {
    cursor: pointer;
  }
}

.hidden {
  visibility: hidden;
}

.recipe {
  &__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 rem($spacing--small);
    height: rem(200px);
    background-color: $color--white;

    @include d1-mq('large') {
      grid-template-columns: none;
      grid-template-rows: 1fr 1fr;
      gap: rem($spacing--small) 0;
      height: rem(400px);
    }
  }

  &__img {
    padding: rem($spacing--small) 0 rem($spacing--small) rem($spacing--small);
    height: 100%;
    width: 100%;
    object-fit: cover;

    @include d1-mq('large') {
      padding: rem($spacing--small) rem($spacing--small) 0 rem($spacing--small);
    }
  }

  &__details {
    display: flex;
    justify-content: space-between;
    padding: rem($spacing--small) rem($spacing--small) rem($spacing--small) 0;

    @include d1-mq('large') {
      padding: 0 rem($spacing--small) rem($spacing--small) rem($spacing--small);
    }
  }

  &__glass {
    align-self: flex-end;
    text-align: right;
  }
}

.ingredients {
  &__heading {
    margin-top: rem($spacing--small);
    margin-bottom: rem(3px);
  }

  &__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: rem($spacing--small);
    row-gap: rem($spacing--xtra-small);
    padding: rem($spacing--medium) 0;
    border-top: 1px solid $color--dark-gray;

    @include d1-mq('large') {
      grid-template-columns: 1fr;
    }
  }

  &__grid-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__ingredient {
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      color: rgb(63, 63, 63);
    }
  }
}

.details {
  &__heading {
    margin-bottom: rem(3px);
  }

  &__info-container {
    border-top: 1px solid $color--dark-gray;
    padding-top: rem($spacing--medium);
    padding-bottom: rem($spacing--xtra-small);
    display: flex;
    justify-content: space-between;
  }

  &__content {
    overflow-y: scroll;
    max-height: 55vh;
  }
}

.loader {
  margin-top: 20vh;
  text-align: center;
  animation: rotate 1.5s infinite linear;
}

.null-results {
  margin-top: 20vh;
  text-align: center;
}
