body {
  min-height: 100vh;
  min-width: 100vw;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('./../images/background-main.jpg');
  background-size: cover;
  background-position: center;
  padding: rem($spacing--medium) 0;

  @include d1-mq('x-large--keep') {
    padding: 0;
    background: none;
  }
}

.container {
  max-width: rem(1140px);
  margin: 0 auto;
  height: calc(100vh - 100px);
  background-color: $color--light-gray;

  @include d1-mq('x-large--keep') {
    min-height: 100vh;
  }

  @include d1-mq('medium') {
    height: auto;
  }
}
