/*-------------------------------*/
/*GLOBALS*/
/*-------------------------------*/

:root {
  font-size: $font-size--base;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

textarea,
input {
  border: none;
  resize: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $color--dark-gray;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $color--dark-gray;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $color--dark-gray;
}

textarea:focus,
input:focus {
  outline: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

li {
  list-style-type: none;
}
